* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3e6d8;
}

.container {
  width: 650px;
  margin: 120px auto;
  background-color: white;
  border-radius: 16px;
  padding: 40px 40px;
}

img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 30px;
}

div h1,
h2 {
  margin-bottom: 20px;
  font-weight: lighter;
}

p,
h2 {
  color: #5f574e;
}

ul,
ol {
  margin-bottom: 20px;
}

li {
  color: #5f574e;
}

li {
  margin-bottom: 10px;
  margin-left: 24px;
  padding: 0 0 0 16px;
}

.ingredients {
  border-bottom: 1px solid;
  margin-bottom: 30px;
  margin-top: 30px;
  border-collapse: collapse;
  border-color: #5f574e;
}
.instructions {
  border-bottom: 1px solid;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-color: #5f574e;
}

p {
  margin-bottom: 30px;
}

.prep {
  display: block;
  background-color: #ffeff7;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 2px;
}
.prep h2 {
  color: #7b284f;
  font-weight: bold;
  font-size: large;
}

.bold {
  font-weight: bold;
  color: rgb(62, 62, 62);
}

.nutrition {
  margin-top: 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
}

.nutrition-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.nutrition-row span:first-child {
  color: #777;
  font-weight: 500;
}

.howmuch {
  color: #854632;
  font-weight: 700;
  margin-right: 240px;
}
